<!DOCTYPE html>    
<html lang="en">    
<head>    
    <title>7 - Friends</title>    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://code.jquery.com/jquery.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-database.js"></script>
    <script src="js/firebase-init.js" type="module"></script>
	<script src="js/friends.js" type="module"></script>

    <link rel="stylesheet" href="css/login.css">    
    <link rel="stylesheet" href="css/friends.css">    
</head>    
<body>    
    <div class="container">
        <div class="row title">
			<div class="col-sm d-flex align-items-center justify-content-start">
				<a class="btn btn-warning bckBtn" href="/menu" role="button">Back</a>
    		</div>
			<div class="col-sm d-flex justify-content-center">
				<h1>Friends</h1>
			</div>
			<div class="col-sm">
			</div>
		</div>

		<div class="input-group" mb-1>
			<input type="text" class="form-control" id="search-input" placeholder="Username" aria-label="Friend's username" aria-describedby="friend-search">
			<div class="input-group-append">
				<button class="btn btn-warning" type="button" id="friend-search">Search</button>
			</div>
		</div>

		<div class="list-group mb-3 overflow-auto " id="friend-list-container">
			{{!-- will be filled with friends using JS --}}
		</div>

		<div id="add-friends-container">
			<h2>Add friends</h2>
			<a id="chevron">
				<svg id="chev-right" style="width:24px;height:24px" viewBox="0 0 24 24">
				   <path fill="#ffbb3f" d="M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12M8.6,16.6L13.2,12L8.6,7.4L10,6L16,12L10,18L8.6,16.6Z" />
			    </svg>
			</a>
		</div>
		<div class="row" style="display:none" id="add-div">
			<div class="input-group mb-3">
				<input type="text" class="form-control" id="add-friend-text" name="add-friend" placeholder="Email" aria-label="Friend's email" aria-describedby="add-friend">
				<div class="input-group-append">
					<button class="btn btn-warning" type="button" id="add-friend-btn">Add</button>
				</div>
			</div>
		</div>
		
    </div>
</body>    
</html> 