<html>
<head>
	<title>Test Page</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css"  />
</head>
<body>
	<nav>
		<button class="hamburger-button" type="button">
			<svg viewBox="0 0 24 24">
					<path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
			</svg>
		</button>
	</nav>
	<main>
		<h1>Videos</h1>
		{{#each videos}}
			<div id={{title}}>
				<h2>{{title}}</h2>
			</div>
		{{/each}}
	</main>
</body>
</html>
