<html>
<head>
	<title>Test Page</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css"  />
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/home.js" type="text/javascript" ></script>
</head>
<body>
	<nav>
		<button class="hamburger-button" type="button">
			<svg viewBox="0 0 24 24">
					<path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
			</svg>
		</button>
	</nav>
	<main>
		<h1>Videos</h1>
		<div id="videos">
		{{#each videos}}
			<div class="video-listing">
				<h2>{{title}}</h2>
			</div>
		{{/each}}
		</div>
	</main>
</body>
</html>
